html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 10px; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../fonts/AvenirLTStd-Light.eot?#iefix");
  src: url("../fonts/AvenirLTStd-Light.eot?#iefix") format("eot"), url("../fonts/AvenirLTStd-Light.woff") format("woff"), url("../fonts/AvenirLTStd-Light.ttf") format("truetype"), url("../fonts/AvenirLTStd-Light.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg"); }

@font-face {
  font-family: 'Avenir Roman';
  src: url("../fonts/AvenirLTStd-Roman.eot?#iefix");
  src: url("../fonts/AvenirLTStd-Roman.eot?#iefix") format("eot"), url("../fonts/AvenirLTStd-Roman.woff") format("woff"), url("../fonts/AvenirLTStd-Roman.ttf") format("truetype"), url("../fonts/AvenirLTStd-Roman.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg"); }

@font-face {
  font-family: 'Avenir Black';
  src: url("../fonts/AvenirLTStd-Black.eot?#iefix");
  src: url("../fonts/AvenirLTStd-Black.eot?#iefix") format("eot"), url("../fonts/AvenirLTStd-Black.woff") format("woff"), url("../fonts/AvenirLTStd-Black.ttf") format("truetype"), url("../fonts/AvenirLTStd-Black.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg"); }

.font-light-xsmall-caps,
.font-light-xsmall {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Avenir Light";
  line-height: 18px; }

.font-light-xsmall-caps {
  text-transform: uppercase; }

.font-light-small-caps,
.font-light-small {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Avenir Light";
  line-height: 20px; }

.font-light-small-caps {
  text-transform: uppercase; }

.font-light-medium-caps,
.font-light-medium {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Avenir Light";
  line-height: 22px; }

.font-light-medium-caps {
  text-transform: uppercase; }

.font-light-large-caps,
.font-light-large {
  font-size: 24px;
  font-size: 2.4rem;
  font-family: "Avenir Light";
  line-height: 30px;
  letter-spacing: -0.02em; }

.font-light-large-caps {
  text-transform: uppercase; }

.font-light-xlarge-caps,
.font-light-xlarge {
  font-size: 36px;
  font-size: 3.6rem;
  font-family: "Avenir Light";
  line-height: 42px;
  letter-spacing: -0.04em; }

.font-light-xlarge-caps {
  text-transform: uppercase; }

.font-roman-xsmall-caps,
.font-roman-xsmall {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Avenir Roman";
  line-height: 18px; }

.font-roman-xsmall-caps {
  text-transform: uppercase; }

.font-roman-small-caps,
.font-roman-small {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Avenir Roman";
  line-height: 20px; }

.font-roman-small-caps {
  text-transform: uppercase; }

.font-roman-medium-caps,
.font-roman-medium {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Avenir Roman";
  line-height: 22px; }

.font-roman-medium-caps {
  text-transform: uppercase; }

.font-roman-large-caps,
.font-roman-large {
  font-size: 24px;
  font-size: 2.4rem;
  font-family: "Avenir Roman";
  line-height: 30px; }

.font-roman-large-caps {
  text-transform: uppercase; }

.font-roman-xlarge-caps,
.font-roman-xlarge {
  font-size: 36px;
  font-size: 3.6rem;
  font-family: "Avenir Roman";
  line-height: 42px; }

.font-roman-xlarge-caps {
  text-transform: uppercase; }

.font-black-xsmall-caps,
.font-black-xsmall {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Avenir Black";
  line-height: 18px; }

.font-black-xsmall-caps {
  text-transform: uppercase; }

.font-black-small-caps,
.font-black-small {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Avenir Black";
  line-height: 20px; }

.font-black-small-caps {
  text-transform: uppercase; }

.font-black-medium-caps,
.font-black-medium {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Avenir Black";
  line-height: 22px; }

.font-black-medium-caps {
  text-transform: uppercase; }

.font-black-large-caps,
.font-black-large {
  font-size: 24px;
  font-size: 2.4rem;
  font-family: "Avenir Black";
  line-height: 30px; }

.font-black-large-caps {
  text-transform: uppercase; }

.font-black-xlarge-caps,
.font-black-xlarge {
  font-size: 36px;
  font-size: 3.6rem;
  font-family: "Avenir Black";
  line-height: 42px; }

.font-black-xlarge-caps {
  text-transform: uppercase; }

html,
body,
#wrapper {
  height: 100%; }

html {
  font-family: Helvetica, sans-serif; }

.type:first-child .type__name {
  margin-top: 10px; }

.type__name {
  color: #550d10;
  display: block;
  font-weight: bold;
  font-size: 12px;
  margin: 30px 0 10px 0; }

.type__text {
  color: #fff;
  display: block;
  margin-left: -10px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 600px; }

#wrapper {
  display: table;
  height: 100%;
  width: 100%; }

.column {
  box-sizing: border-box;
  display: table-cell;
  height: 100%;
  vertical-align: top; }

.sample {
  background-color: #c71f25;
  width: 33%; }
  .sample .inner {
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
    padding: 30px 30px; }
  .sample .type__text {
    cursor: pointer; }
    .sample .type__text:hover {
      background-color: rgba(0, 0, 0, 0.1); }

.edit {
  padding: 30px;
  position: relative;
  width: 66%; }
  .edit .inner {
    display: table;
    height: 100%;
    width: 100%; }

.textarea {
  bottom: 40px;
  box-sizing: border-box;
  display: block;
  height: 140px;
  left: 40px;
  position: absolute;
  right: 40px; }
  .textarea textarea {
    background-color: #f1f1f1;
    border: 0;
    color: #444;
    font-family: Monaco, monospace;
    font-size: 16px;
    height: 100%;
    line-height: 1.8;
    outline: none;
    padding: 20px;
    width: 100%; }
    .textarea textarea:focus {
      background-color: #ddd;
      color: #222; }

.output {
  display: table-cell;
  padding: 30px 0 300px 0;
  vertical-align: middle; }
  .output * {
    outline: none;
    padding: 5px; }
  .output .selected {
    background-color: #f1f1f1; }
