@font-face {
  font-family: 'Avenir Light';
  src: url('../fonts/AvenirLTStd-Light.eot?#iefix');
  src: url('../fonts/AvenirLTStd-Light.eot?#iefix') format('eot'),
       url('../fonts/AvenirLTStd-Light.woff') format('woff'),
       url('../fonts/AvenirLTStd-Light.ttf') format('truetype'),
       url('../fonts/AvenirLTStd-Light.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857') format('svg');
}

@font-face {
  font-family: 'Avenir Roman';
  src: url('../fonts/AvenirLTStd-Roman.eot?#iefix');
  src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('eot'),
       url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
       url('../fonts/AvenirLTStd-Roman.ttf') format('truetype'),
       url('../fonts/AvenirLTStd-Roman.svg#52a192b1-bea5-4b48-879f-107f009b666f') format('svg');
}

@font-face {
  font-family: 'Avenir Black';
  src: url('../fonts/AvenirLTStd-Black.eot?#iefix');
  src: url('../fonts/AvenirLTStd-Black.eot?#iefix') format('eot'),
       url('../fonts/AvenirLTStd-Black.woff') format('woff'),
       url('../fonts/AvenirLTStd-Black.ttf') format('truetype'),
       url('../fonts/AvenirLTStd-Black.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857') format('svg');
}
